# JetBrains PyCharm specific ignores
.idea/

# Python virtual environments
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
logs/
*.log

# Vim swap files
*.swp
*.swo